<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160824_week2_hw_carousel_SL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C6B08221D6E77D800C18D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C6B08361D6E77D800C18D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C6B08411D6E77D800C18D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
